.header {
  justify-content: space-between;
  .logo {
    img.grid-icon {
      margin-right: 10px;
      transition-duration: 0.5s;
      cursor: pointer;
      height: 50px;
      width: auto;
    }
    img.grid-icon:hover,
    .navbar-brand:hover {
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      display: inline-block;
      mask: linear-gradient(-60deg, #ffffff 40%, rgba(255, 255, 255, 0.5), #f8f8f8 70%) right/300% 100%;
      -webkit-mask: linear-gradient(-60deg, #ffffff 40%, rgba(255, 255, 255, 0.5), #f8f8f8 70%) right/300% 100%;
      background-repeat: no-repeat;
      animation: shimmer 2s infinite;
    }
  }
}
::ng-deep .header-menu {
  ul {
    padding: 0;
    margin: 0;
  }
}
