.google-login-btn {
    background-image: url("../../../assets/images/google-logo.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 10%;
    padding-left: 10%;
}
