<div class="h-100 d-flex align-items-center justify-content-center" *ngIf="!authenticator; else auth">
    <div class="card shadow p-3 rounded mt-2">
        <h3 class="text-center my-2 fw-light fs-2">Register</h3>
        <form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-2">
                <label class="form-label" for="fullname">Full Name</label>
                <input type="text" class="form-control" id="fullname" placeholder="Enter your full name"
                    formControlName="name" autocomplete="off" />
                <div *ngIf="form['name'].errors">
                    <small *ngIf="form['name'].errors?.['required'] && form['name'].touched" class="text-danger">
                        Full name is required</small>
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Enter your email"
                    formControlName="email" autocomplete="off" />
                <div *ngIf="form['email'].errors">
                    <small *ngIf="form['email'].errors?.['required'] && form['email'].touched" class="text-danger">
                        Email is required</small>
                    <small *ngIf="!form['email'].errors?.['required'] && form['email'].errors?.['emailValidator']"
                        class="text-danger">
                        Please enter valid email</small>
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="country">Country</label>
                <select class="form-select" id="country" formControlName="country" aria-label="Country select">
                    <option selected disabled value="">Select country</option>
                    <option *ngFor="let city of cityList" [ngValue]="city.id"> {{ city.name }} </option>
                </select>
                <div *ngIf="form['country'].errors">
                    <small *ngIf="form['country'].errors?.['required'] && form['country'].touched" class="text-danger">
                        Country is required</small>
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password"
                    formControlName="password" />
                <div *ngIf="form['password'].errors">
                    <small *ngIf="form['password'].errors?.['required'] && form['password'].touched"
                        class="text-danger">Password is required</small>
                    <small *ngIf="form['password'].errors?.['minlength']" class="text-danger">
                        Password should be atleast 8 character long</small>
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="cnfmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="cnfmPassword" placeholder="Re-enter password"
                    formControlName="confirmPassword" />
                <div *ngIf="form['confirmPassword'].errors">
                    <small *ngIf="form['confirmPassword'].errors?.['required'] && form['confirmPassword'].touched"
                        class="text-danger">Confirm Password is required<br></small>
                    <small class="text-danger"
                        *ngIf="!form['confirmPassword'].errors?.['required'] && form['confirmPassword'].errors?.['matchValue']">
                        Confirm password should be the same as password</small>
                </div>
            </div>
            <div class="my-3">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
            <small>Already have an account? <a routerLink="/login" id="login" role="button">Login</a></small>
        </form>
    </div>
</div>
<ng-template #auth>
    <app-authenticator [imgUrl]="imgUrl" [user]="user"></app-authenticator>
</ng-template>