<app-modal id="modal-1" [title]="title" [buttonDisabled]="addEmployeeForm.invalid" [buttonName]="modalSubmitBtnName"
    (onModalSubmit)="onSubmit()">
    <form class="form-group" [formGroup]="addEmployeeForm">
        <div class="modal-body">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter full name"
                autocomplete="off">
            <div *ngIf="form['name'].errors">
                <small *ngIf="form['name'].errors?.['required'] && form['name'].touched" class="text-danger">
                    Name is required</small>
                <small *ngIf="!form['name'].errors?.['required'] && form['name'].errors?.['alphabetValidator']"
                    class="text-danger">
                    Please enter valid name</small>
            </div>
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter email"
                autocomplete="off">
            <div *ngIf="form['email'].errors">
                <small *ngIf="form['email'].errors?.['required'] && form['email'].touched" class="text-danger">
                    Email is required</small>
                <small *ngIf="!form['email'].errors?.['required'] && form['email'].errors?.['emailValidator']"
                    class="text-danger">
                    Please enter valid email</small>
            </div>
            <label for="dob" class="form-label">Date of birth</label>
            <input type="date" id="dob" class="form-control" formControlName="dob" placeholder="DD/MM/YYYY"
                autocomplete="off" min="1900-01-01" [max]="maxDate">
            <div *ngIf="form['dob'].errors">
                <small *ngIf="form['dob'].errors?.['required'] && form['dob'].touched" class="text-danger">
                    Date of birth is required</small>
                <small *ngIf="form['dob'].errors?.['maxlength']" class="text-danger">
                    date should be in dd-mm-yyyy format only</small>
            </div>
            <label for="designation" class="form-label">Designation</label>
            <input type="text" id="designation" class="form-control" formControlName="designation"
                placeholder="Enter designation" autocomplete="off">
            <div *ngIf="form['designation'].errors">
                <small *ngIf="form['designation'].errors?.['required'] && form['designation'].touched"
                    class="text-danger"> Designation is required</small>
                <small
                    *ngIf="!form['designation'].errors?.['required'] && form['designation'].errors?.['alphabetValidator']"
                    class="text-danger"> Please enter valid designation
                </small>
            </div>
            <label for="education" class="form-label">Education</label>
            <input type="text" id="education" class="form-control" formControlName="education"
                placeholder="Enter education" autocomplete="off">
            <div *ngIf="form['education'].errors">
                <small *ngIf="form['education'].errors?.['required'] && form['education'].touched" class="text-danger">
                    Education is required</small>
                <small
                    *ngIf="!form['education'].errors?.['required'] && form['education'].errors?.['alphabetValidator']"
                    class="text-danger">
                    Please enter valid education</small>
            </div>
        </div>
    </form>
</app-modal>