<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="card shadow p-3 rounded">
        <h3 class="text-center my-4 fw-light fs-1">Verify OTP</h3>
        <form class="form-group" [formGroup]="authenticatorForm" (ngSubmit)="onSubmit()">
            <div class="mb-2">
                <img *ngIf="imgUrl" [src]="imgUrl" class="card-img-top" alt="google authenticator">
            </div>
            <div class="mb-2">
                <label class="form-label" for="auth">Authenticator Code</label>
                <input type="number" class="form-control" id="auth" placeholder="Enter your authenticator code"
                    formControlName="otp" />
                <div *ngIf="form['otp'].errors">
                    <small *ngIf="form['otp'].errors?.['required'] && form['otp'].touched" class="text-danger">
                        OTP is required</small>
                    <small *ngIf="!form['otp'].errors?.['required'] && form['otp'].errors?.['minlength']"
                        class="text-danger">
                        Please enter valid otp</small>
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>