<div class="container p-2">
    <div class="shadow-sm p-3 mb-3 bg-body-tertiary rounded mb-4">
        <div class="row">
            <div class="col">
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop" (click)="addEmployeeBtnClick()">
                    <i class="fa fa-plus"></i> Add New Employee
                </button>
            </div>
        </div>
    </div>
    <div class="card" style="width:100%;">
        <table-component [tableData]="employeesData" [tableColumns]="employeesColumns" [enableSorting]="true"
            [sortColumn]="sortedColumn" [sortOrder]="sortingOrder" [pagingConfig]="pagingConfig"
            (onSort)="onSorting($event)" (getEmployees)="getEmployees()" (onEdit)="editEmployeeBtnClick($event)"
            (onDelete)="deleteEmployeeBtnClick($event)" (onSearch)="onSearch($event)">
        </table-component>
        <div class="px-4 pb-2">
            <app-pagination [pageConfig]="pagingConfig" (pageChange)="onPageChange($event)"
                (recordPerPageChange)="onRecordPerPageChange($event)">
            </app-pagination>
        </div>
    </div>
</div>

<!--Add/Edit Employee -->
<add-employee [employeesData]="employeesData" (getEmployees)="getEmployees()"></add-employee>