<div class="container p-2">
    <div class="shadow-sm p-3 mb-3 bg-body-tertiary rounded mb-4">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Employees</li>
                    </ol>
                </nav>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop" (click)="addEmployeeBtnClick()">
                    <i class="fa fa-plus"></i> Add New Employee
                </button>
            </div>
        </div>
    </div>
    <div class="card" style="width:100%;">
        <table-component [tableData]="employeesData" [tableColumns]="employeesColumns" [sortColumn]="sortedColumn"
            [sortOrder]="sortingOrder" [pagingConfig]="pagingConfig" (onSort)="onSorting($event)"
            (getEmployees)="getEmployees()" (onEdit)="editEmployeeBtnClick($event)"
            (onDelete)="deleteEmployeeBtnClick($event)" (onSearch)="onSearch($event)">
        </table-component>
    </div>
</div>

<!--Add Employee Modal -->
<app-modal [title]="title" [buttonDisabled]="addEmployeeForm.invalid" [buttonName]="modalSubmitBtnName"
    (onModalSubmit)="onSubmit()">
    <form class="form-group" [formGroup]="addEmployeeForm">
        <div class="modal-body">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter full name"
                autocomplete="off">
            <div *ngIf="form['name'].errors">
                <small *ngIf="form['name'].errors?.['required'] && form['name'].touched" class="text-danger">
                    Name is required</small>
            </div>
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter email"
                autocomplete="off">
            <div *ngIf="form['email'].errors">
                <small *ngIf="form['email'].errors?.['required'] && form['email'].touched" class="text-danger">
                    Email is required</small>
            </div>
            <label for="dob" class="form-label">Date of birth</label>
            <input type="date" id="dob" class="form-control" formControlName="dob" placeholder="DD/MM/YYYY"
                autocomplete="off">
            <div *ngIf="form['dob'].errors">
                <small *ngIf="form['dob'].errors?.['required'] && form['dob'].touched" class="text-danger">
                    Date of birth is required</small>
                <small *ngIf="form['dob'].errors?.['maxlength']" class="text-danger">
                    date should be in dd-mm-yyyy format only</small>
            </div>
            <label for="designation" class="form-label">Designation</label>
            <input type="text" id="designation" class="form-control" formControlName="designation"
                placeholder="Enter designation" autocomplete="off">
            <div *ngIf="form['designation'].errors">
                <small *ngIf="form['designation'].errors?.['required'] && form['designation'].touched"
                    class="text-danger"> Designation is required</small>
            </div>
            <label for="education" class="form-label">Education</label>
            <input type="text" id="education" class="form-control" formControlName="education"
                placeholder="Enter education" autocomplete="off">
            <div *ngIf="form['education'].errors">
                <small *ngIf="form['education'].errors?.['required'] && form['education'].touched" class="text-danger">
                    Education is required</small>
            </div>
        </div>
    </form>
</app-modal>