.authorized-container {
  #header {
    height: 3rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--surface-a);
    display: flex;
    align-items: center;
  }

  #main-container {
    overflow-y: auto;
    .action-container {
      width: -webkit-fill-available;
      max-height: 100%;
      overflow: auto;
    }
  }

  #footer {
    height: 2rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--surface-a);
    display: flex;
    align-items: center;
  }
}

.prompt-user {
  ::ng-deep .p-component {
    width: max-content;
    .p-toast-icon-close {
      display: none;
    }
  }
}
