<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="card shadow p-3 rounded">
        <h3 class="text-center my-4 fw-light fs-1">Reset Password</h3>
        <form class="form-group" [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
            <div class="mb-2">
                <label class="form-label" for="otp">OTP</label>
                <input type="number" class="form-control" id="otp" placeholder="Enter your OTP" formControlName="otp" />
                <div *ngIf="form['otp'].errors">
                    <small *ngIf="form['otp'].errors?.['required'] && form['otp'].touched" class="text-danger">OTP is
                        required</small>
                </div>
            </div>

            <div class="mb-2">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password"
                    formControlName="password" />
                <div *ngIf="form['password'].errors">
                    <small *ngIf="form['password'].errors?.['required'] && form['password'].touched"
                        class="text-danger">Password is required</small>
                    <small *ngIf="!form['password'].errors?.['required'] && form['password'].errors?.['minlength']"
                        class="text-danger"> Password should be atleast 8 character long
                    </small>
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="cnfmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="cnfmPassword" placeholder="Re-enter password"
                    formControlName="confirmPassword" />
                <div *ngIf="form['confirmPassword'].errors">
                    <small *ngIf="form['confirmPassword'].errors?.['required'] && form['confirmPassword'].touched"
                        class="text-danger">Confirm Password is required<br></small>
                    <small class="text-danger"
                        *ngIf="!form['confirmPassword'].errors?.['required'] && form['confirmPassword'].errors?.['matchValue']">
                        Confirm password should be the same as password</small>
                </div>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary">Reset Password</button>
                <small class="float-end mt-2">Back to <a routerLink="/login" id="signup">Login</a></small>
            </div>
        </form>
    </div>
</div>