.container {
    max-width: 370px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .logo {
        img {
            width: 200px;
        }
    }
}