<div class="row">
    <div class="col" *ngIf="pageConfig?.totalItems">
        <div class="row">
            <div class="col-auto">
                <label for="recordPerPage" class="col-form-label">Records per page :</label>
            </div>
            <div class="col-auto">
                <select class="form-select" role="button" id="recordPerPage"
                    (change)="onRecordPerPageChange($event.target)">
                    <option [selected]="itemPerPage==pageConfig?.itemsPerPage"
                        *ngFor="let itemPerPage of pageConfig?.itemsPerPageList" [ngValue]="itemPerPage"> {{itemPerPage}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="pagination justify-content-end">
            <pagination-controls [previousLabel]="previousLabel" [nextLabel]="nextLabel" [autoHide]="autoHide"
                [responsive]="responsive" (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
    </div>
</div>