<div class="common-table-card" id="table-container">
  <p-table
    [columns]="headers"
    [scrollable]="scrollable"
    [scrollHeight]="tableHeight"
    [value]="rowData"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '380px' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th [id]="col.field" *ngFor="let col of columns">
          <div class="col-heading">
            <p class="mb-0">{{ col.header }}</p>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.type === constants.icon">
            <span class="p-column-title">{{ col.header }}</span>
            <em [ngClass]="rowData[col.field]" class="cursor-pointer" (click)="emitAction('print_QR', rowData.id)"></em>
          </ng-container>
          <ng-container *ngIf="col.type === constants.description">
            <span class="p-column-title">{{ col.header }}</span>
            <span class="mb-0 text-content" [pTooltip]="rowData[col.field]" tooltipPosition="top">
              <app-read-more [content]="rowData[col.field]"></app-read-more>
            </span>
          </ng-container>
          <ng-container *ngIf="col.type === constants.text">
            <span class="p-column-title">{{ col.header }}</span>
            <span class="mb-0 text-content">
              {{ rowData[col.field] }}
            </span>
          </ng-container>
          <ng-container *ngIf="col.type === constants.permit">
            <span class="p-column-title">{{ col.header }}</span>
            <p class="mb-0 text-content fw-bold cursor-pointer" (click)="emitAction('', rowData.id)">
              {{ rowData[col.field].woPermitId }}
            </p>
            <p class="mb-0 text-content">
              {{ rowData[col.field].updatedOn }}
            </p>
          </ng-container>
          <ng-container *ngIf="col.type === constants.badge">
            <span class="p-column-title">{{ col.header }}</span>
            <span class="mb-0 text-content badge bg-success" [ngClass]="rowData[col.field] === 1 ? 'bg-dark' : 'bg-success'">{{
              rowData[col.field] === 1 ? 'InProgress ' : 'Completed '
            }}</span>
          </ng-container>
          <ng-container *ngIf="col.type === constants.action">
            <span class="p-column-title">{{ col.header }}</span>
            <div class="d-flex">
              <p-confirmPopup></p-confirmPopup>
              <span
                *ngFor="let item of appIcon"
                appAccessControl
                [moduleType]="moduleFrom"
                [accessType]="item.action"
                pTooltip="{{ item.label }}"
                tooltipPosition="top"
                class="mx-2 cursor-pointer"
                (click)="emitAction(item.action, rowData.id)">
                <em [ngClass]="item.icon"> </em>
              </span>
            </div>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="rowData?.length" id="pagination-container">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="0"
      [rows]="itemPerPage"
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="totalElements ? 'Showing {first} to {last} of {totalRecords} entries' : ''"
      [totalRecords]="totalElements"
      [rowsPerPageOptions]="[10, 20, 30]"
      [showFirstLastIcon]="false">
    </p-paginator>
  </div>
</div>
