<form class="form-group" [formGroup]="addEmployeeForm">
    <div class="modal-body">
        <div class="col-12">
            <label for="name">Full Name</label>
            <input id="name" pInputText formControlName="name" placeholder="Enter full name" autocomplete="off">
            <app-error-message [control]="form['name']" [controlName]="'Full Name'"></app-error-message>
        </div>
        <div class="col-12 mt-2">
            <label for="email">Email</label>
            <input id="email" pInputText formControlName="email" placeholder="Enter email" autocomplete="off">
            <app-error-message [control]="form['email']" [controlName]="'Email'"></app-error-message>
        </div>
        <div class="col-12 mt-2">
            <label for="dob">Date of birth</label>
            <input id="dob" type="date" pInputText formControlName="dob" placeholder="DD/MM/YYYY" autocomplete="off"
                min="1900-01-01" [max]="maxDate">
            <app-error-message [control]="form['dob']" [controlName]="'Date of birth'"></app-error-message>
        </div>
        <div class="col-12 mt-2">
            <label for="designation">Designation</label>
            <input id="designation" pInputText formControlName="designation" placeholder="Enter designation"
                autocomplete="off">
            <app-error-message [control]="form['designation']" [controlName]="'Designation'"></app-error-message>
        </div>
        <div class="col-12 mt-2">
            <label for="education">Education</label>
            <input id="education" pInputText formControlName="education" placeholder="Enter education"
                autocomplete="off">
            <app-error-message [control]="form['education']" [controlName]="'Education'"></app-error-message>
        </div>
    </div>
</form>