<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="card shadow p-3 rounded">
        <h3 class="text-center my-4 fw-light fs-1">Forgot Password?</h3>
        <form class="form-group">
            <div class="mb-2">
                <label class="form-label" for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Enter your registered email" #email
                    autocomplete="off" />
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary" (click)="onSubmit(email)">Submit</button>
                <small class="float-end mt-2">Back to <a routerLink="/login" id="signup">Login</a></small>
            </div>
        </form>
    </div>
</div>