<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="card shadow p-3 rounded">
        <h3 class="text-center my-4 fw-light fs-1">Forgot Password?</h3>
        <form class="form-group" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-2">
                <label class="form-label" for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Enter your registered email"
                    formControlName="email" autocomplete="off" />
                <div *ngIf="form['email'].errors">
                    <small *ngIf="form['email'].errors?.['required'] && form['email'].touched" class="text-danger">
                        Email is required</small>
                    <small *ngIf="!form['email'].errors?.['required'] && form['email'].errors?.['emailValidator']"
                        class="text-danger">
                        Please enter valid email</small>
                </div>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <small class="float-end mt-2">Back to <a routerLink="/login" id="signup">Login</a></small>
            </div>
        </form>
    </div>
</div>