<div class="card-body">
    <div class="row">
        <div class="col-md-4 mb-3">
            <input class="form-control" type="text" id="search" placeholder="Search by Name..." autocomplete="off"
                #searchText>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="table-primary">
            <tr>
                <th *ngFor="let column of tableColumns">{{column?.label}}
                    <ng-container *ngIf="enableSorting">
                        <ng-container *ngIf="column.name !=='actions'">
                            <i class="fa fa-sort" *ngIf="sortColumn !== column.name"
                                (click)="onSortClick(column.name, 'asc' )"></i>
                        </ng-container>
                        <ng-container *ngIf="column.name !=='actions'">
                            <i class="fa fa-sort-up" *ngIf="sortColumn === column.name && sortOrder === 'asc'"
                                (click)="onSortClick(column.name, 'desc')"></i>
                            <i class="fa fa-sort-down" *ngIf="sortColumn === column.name && sortOrder === 'desc'"
                                (click)="onSortClick(column.name, 'asc')"></i>
                        </ng-container>
                    </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of tableData | paginate: pagingConfig; trackBy:trackById">
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.dob | date:'dd/MM/yyy'}}</td>
                <td>{{employee.designation}}</td>
                <td>{{employee.education}}</td>
                <td>
                    <i class="fa fa-pencil me-3" data-bs-target="#staticBackdrop"
                        (click)="editRecord(employee._id)"></i>
                    <i class="fa fa-trash" (click)="deleteRecord(employee._id)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <span *ngIf="tableData.length==0">No record found!</span>
</div>