<div class="card">
    <p-table [columns]="tableColumns" [value]="tableData" [tableStyle]="{ 'min-width': '70rem' }"
        responsiveLayout="stack" [breakpoint]="'960px'" [globalFilterFields]="['name']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <input type="text" pInputText placeholder="Search.." #search>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                @for (col of columns; track col.name) {
                <th [pSortableColumn]="col.name"> {{ col.label }}
                    @if(col.name!=='actions'){ <p-sortIcon [field]="col.name"></p-sortIcon> }
                </th>
                }
                @if(enableEdit || enableDelete){<th>Actions</th>}
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                @for(col of columns; track col.name) {
                <td> {{ rowData[col.name] }} </td>
                }

                @if(enableEdit || enableDelete){
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        @if(enableEdit){<button pButton pRipple type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-text" (click)="editRecord(rowData)"></button>}
                        @if(enableDelete){<button pButton pRipple type="button" icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger" (click)="deleteRecord(rowData)"></button>}
                    </div>
                </td>
                }
            </tr>
        </ng-template>
    </p-table>
</div>